@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Prueba Desarrollo
    </h1>
    <br />
    <h4>
        Chavez Marin GE
    </h4>
    <p><a asp-area="" asp-controller="Trabajadores" asp-action="Index">Tabla Trabajadores</a></p>
</div>
